nav {
     .brand-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .brand{
            img {
                height: 100%;
            }
        }
        .toggle-container{
            display: none;
            .mode{
                .dark{
                    color: rgb(51, 51, 51);
                }
                .light{
                    color: yellow;
                }
            }
        }
        .links-container {
            .links{
                list-style-type: none;
                display: flex;
                gap: 4rem;
                li {
                    .dark{
                        color: rgb(51, 51, 51);
                    }
                    .light{
                        color: yellow;
                    }
                    a{
                        color: var(--accent-color1);
                        text-decoration: none;
                    }
                    &:last-of-type{
                        a{
                            color: var(--pink);
                        }
                    }
                }
            }
        }
    }
}